# Исследование надежности заемщиков

Это первая часть проекта, она будет проверена автоматически. Вторую часть проверит ревьюер.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
# импортируйте библиотеку pandas
import pandas as pd

In [2]:
# прочитайте csv-файл
data = pd.read_csv('data.csv')

In [3]:
# try:
#     data = pd.read_csv('/datasets/data.csv')
# except:
#     data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [4]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [6]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [7]:
for i_type in data['income_type'].unique():
    data.loc[(data['income_type'] == i_type) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == i_type), 'total_income'].median()
data.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. Таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [8]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [9]:
data.groupby('income_type')['days_employed'].median()

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [10]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [11]:
data = data.loc[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [12]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждому типу занятости `income_type`.**

In [13]:
for i_type in data['income_type'].unique():
    data.loc[(data['income_type'] == i_type) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == i_type), 'days_employed'].median()
data.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [14]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [15]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [16]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [17]:
# посчитайте дубликаты
data.duplicated().sum()

71

In [18]:
# удалите дубликаты
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [19]:
# создайте функцию categorize_income()
def categorize_income(income):
    if 0 <= income <= 30000:
        rank = 'E'
    elif 30001 <= income <= 50000:
        rank = 'D'
    elif 50001 <= income <= 200000:
        rank = 'C'
    elif 200001 <= income <= 1000000 :
        rank = 'B'
    else:
        rank = 'A'
    return rank

In [20]:
# примените функцию методом apply()
data['total_income_category'] = data['total_income'].apply(categorize_income)
data

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21520,1,4529.316663,43,среднее,1,гражданский брак,1,F,компаньон,0,224791,операции с жильем,B
21521,0,343937.404131,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999,сделка с автомобилем,C
21522,1,2113.346888,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672,недвижимость,C
21523,3,3112.481705,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093,на покупку своего автомобиля,B
21524,2,1984.507589,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047,на покупку автомобиля,C

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [21]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [22]:
# создайте функцию categorize_purpose()
def categorize_purpose(purpose):
    if 'жиль' in purpose or 'недвижимост'in purpose:
        category = 'операции с недвижимостью'
    elif 'авто' in purpose:
        category = 'операции с автомобилем'
    elif 'образован' in purpose:
        category = 'получение образования'
    else:
        category = 'проведение свадьбы'
    return category

In [23]:
# примените функцию методом apply()
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

**Задание 19. Есть ли зависимость между количеством детей и возвратом кредита в срок?**

Столбец `children` мы проверяли и чистили ранее, проверим столбец `debt` на уникальные значения.

In [24]:
data['debt'].unique()

array([0, 1], dtype=int64)

Составим сводную таблицу, сгруппированную по `количеству детей` у клиентов и по `наличию задолженности`.

In [25]:
data_pivot_children = data.pivot_table(index='children', values='debt', aggfunc=['count', 'sum', 'mean'])
data_pivot_children.columns = ['Количество клиентов', 'Должники', 'Доля должников']
data_pivot_children['Доля должников'] = data_pivot_children['Доля должников'] * 100
data_pivot_children = data_pivot_children.sort_values(by='Доля должников', ascending=False)
data_pivot_children

          Количество клиентов  Должники  Доля должников
children
4                          41         4        9.756098
2                        2052       194        9.454191
1                        4808       444        9.234609
3                         330        27        8.181818
0                       14091      1063        7.543822
5                           9         0        0.000000

Судя по данным, наибольшая вероятность появления задолженности по кредиту у людей с 4-я детьми, а наименьшая - с 5-ю или совсем без детей. Однако в выборке людей с 3-я и более детьми намного меньше, чем с 2-я или менее. И разница между наибольшей и наименьшей долей должников составляет всего пару процентов. \
**Вывод:** \
Полагаю, из данной информации можно сделать вывод, что количество детей не является определяющим фактором для возникновения задолженности по кредиту. Однако отсутствие детей у заёмщика немного снижает риск появления задолженности.

**Задание 20. Есть ли зависимость между семейным положением и возвратом кредита в срок?**

Проверим какие значения есть в столбце `семейное положение`.

In [26]:
data['family_status'].unique()

array(['женат / замужем', 'гражданский брак', 'вдовец / вдова',
       'в разводе', 'Не женат / не замужем'], dtype=object)

Составим сводную таблицу, сгруппированную по столбцу `семейное положение`, посчитаем количество клиентов в каждом статусе и долю должников среди них.

In [27]:
data_pivot_family = data.pivot_table(index='family_status', values='debt', aggfunc=['count', 'sum', 'mean'])
data_pivot_family.columns = ['Количество клиентов', 'Должники', 'Доля должников']
data_pivot_family['Доля должников'] = data_pivot_family['Доля должников'] * 100
data_pivot_family = data_pivot_family.sort_values(by='Доля должников', ascending=False)
data_pivot_family

                       Количество клиентов  Должники  Доля должников
family_status
Не женат / не замужем                 2796       273        9.763948
гражданский брак                      4134       385        9.313014
женат / замужем                      12261       927        7.560558
в разводе                             1189        84        7.064760
вдовец / вдова                         951        63        6.624606

Судя по данным, `вдовы/вдовцы` и люди `в разводе` реже допускают просрочки по кредитам, чем `не женатые/ не замужем` и находящиеся в `гражданском браке`. Однако и здесь разница между минимальным и максимальным значениями доли только немного превышает 3%. \
**Вывод:** \
Семейный статус клиента влияет чуть больше, чем количество детей у него, но определяющую роль этому фактору я бы не отдал.

**Задание 21. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

Составим сводную таблицу, сгруппированную по столбцу `категория дохода`, которую мы создавали ранее, посчитаем количество клиентов в каждой и долю должников среди них.

In [28]:
data_pivot_income_category = data.pivot_table(index='total_income_category', values='debt', aggfunc=['count', 'sum', 'mean'])
data_pivot_income_category.columns = ['Количество клиентов', 'Должники', 'Доля должников']
data_pivot_income_category['Доля должников'] = data_pivot_income_category['Доля должников'] * 100
data_pivot_income_category = data_pivot_income_category.sort_values(by='Доля должников', ascending=False)
data_pivot_income_category

                       Количество клиентов  Должники  Доля должников
total_income_category
E                                       22         2        9.090909
C                                    15921      1353        8.498210
A                                       25         2        8.000000
B                                     5014       354        7.060231
D                                      349        21        6.017192

Судя по данным, клиенты из группы с самым низким уровнем дохода - до `30 000` логично оказываются в лидерах по наличию задолженностей. Однако на втором и третьем местах по доле должников оказываются люди с доходом `от 50 000 до 200 000` и свыше `1 млн`. Самыми надёжными заёмщиками оказываются люди с доходом `от 30 000 до 50 000`. \
**Вывод:** \
Прямой корреляции уровня дохода с вероятностью появления задолженностей по кредиту нет, за исключением клиентов с самым низким уровнем дохода.

**Задание 22. Как разные цели кредита влияют на его возврат в срок?**

Воспользуемся столбцом с группировкой кредитов `по целям`, которую сделали ранее. И создадим сводную таблицу на его основе.

In [29]:
data_pivot_purpose_category = data.pivot_table(index='purpose_category', values='debt', aggfunc=['count', 'sum', 'mean'])
data_pivot_purpose_category.columns = ['Количество клиентов', 'Должники', 'Доля должников']
data_pivot_purpose_category['Доля должников'] = data_pivot_purpose_category['Доля должников'] * 100
data_pivot_purpose_category = data_pivot_purpose_category.sort_values(by='Доля должников', ascending=False)
data_pivot_purpose_category

                          Количество клиентов  Должники  Доля должников
purpose_category
операции с автомобилем                   4279       400        9.347978
получение образования                    3988       369        9.252758
проведение свадьбы                       2313       183        7.911803
операции с недвижимостью                10751       780        7.255139

Судя по данным, при выдаче кредитов на `недвижимость` и на проведение `свадьбы` возникает меньшее количество невозвратов, чем при кредитовании на `образование` и на `операции с автомобилем`. \
**Вывод:** \
Примерно, как и при прошлых сравнениях, доля должников различается только на пару процентов между минимальным и максимальным значением, но всё же различие есть.

**Задание 23. Приведите возможные причины появления пропусков в исходных данных**

Так как пропуски присутствуют только в столбцах о трудовом стаже и об уровне дохода, я бы предположил, что люди, не заполнившие эту информацию либо работают неофициально, либо не работают вообще.

**Задание 24. Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.**

Заполнять пропуски медианным значением для количественных переменных лучшее решение потому что таким образом не будут учитываться крайние и, возможно, сильно отличающиеся от основной массы значения, а, следовательно, такой вариант будет более точным по сравнению, например, с заполнением средним значением.

**Общий вывод** \
На основе данных мы проанализировали зависимость возврата кредита в срок от 
- количества детей
- семейного положения
- уровня дохода
- целей кредита \
\
Так, `по количеству детей` наименьшее количество просрочек возникает у клиентов `без детей`. \
`По семейному положению` - у `вдов/вдовцов`, `разведённых` или `женатых/замужних`. \
`По уровню дохода` наиболее аккуратными плательщиками являются клиенты с доходом `от 30000 до 50000` и `от 200000 до 1 млн`. \
В зависимости от `целей кредита` меньше просрочек возникает, если кредит взят на `операции с недвижимостью`.